argo-cd:
  enabled: true
  server:
    ingress:
      enabled: false
    extraArgs:
      - --insecure
  repoServer:
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
    livenessProbe:
      timeoutSeconds: 5
    readinessProbe:
      timeoutSeconds: 5
  configs:
    secret:
      argocdServerAdminPassword: "$2y$10$OfLUB6j0u77YHDOREqyCEeFVxnu4r0TBFISyXhY7CU696JQEEd70G"

